<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite">
	<test name="First TestNG Suite test">
		<parameter name="userName" value="Admin" />
		<parameter name="password" value="admin123" />
		<classes>
			<class name="testCase.SampleTest" />
		</classes>
	</test>
</suite>